{% extends "::base.html.twig" %}
{% block body %}
    <div>
    <p>
        <a style="font-weight: bold" href="{{ url("contactbox_person_listperson") }}">Back to the list</a>
        <a style="font-weight: bold" href="{{ url("contactbox_person_modifyperson", {"id": person.id}) }}">Edit contact</a>
    </p>
    </div>
    <h3>Name: {{ person.name }}</h3>
    <h3>Surname: {{ person.surname }}</h3>
    <h3>Description: {{ person.description }}</h3>
{% endblock %}
